#nav-menu {
	background-color: #bfbfbf;
	position: relative;
	height: 7%;
}

#nav-menu ul {
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

#nav-menu li {
	display: inline-block;
	padding-right: 25px;
	font-size: 18px;
}

