img {
	max-height: 150px;
	max-height: 200px;
	padding-top: 1px;
}

td {
	padding: 25px;
}

.book-info {
	position: relative;
	top: -25px;
}

span {
	padding-left: 15px;
}

span a {
	outline: none;
	border: none;
	text-decoration: none;
}

.available {
	color: green;
}

.unavailable {
	color: red;
}

