{% load static %}
{% load has_group %}

<link rel="stylesheet" type="text/css" href="{% static 'brary/nav.css' %}">

<div id="nav-menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/library/search">Search</a></li>

	{# Nav elements when not logged in #}

	{% if not user.is_authenticated %}
        	<li><a href="/register">Register</a></li>
        	<li><a href="/accounts/login">Login</a></li>

    {% else %}
        <div class="dropdown">
            <button class="dropbtn">{{ user }}</button>
            <div class="dropdown-content">
                <a href="/profile">My Profile</a>
                <a href="/accounts/logout">Logout</a>

                {% if request.user|has_group:"librarian" %}
                    <a href="/library/checkout">Checkout</a>
                    <a href="/library/returns">Returns</a>
                {% endif %}


            </div>
        </div>
	{% endif %}

	{# Nav elements when logged in #}


    {% comment %}
	{% if request.user|has_group:"librarian" %}
		<span><a href="/library/checkout">Checkout</a></span>
		<span><a href="/library/returns">Returns</a></span>
	{% endif %}

	{% if user.is_authenticated %}
		<li><a href="/accounts/logout">Logout</a></li>

		{# TODO: Implement a drop-down with user profile acccess #}
		<span id="profile-dropdown">{{ user.get_username }}</span>
	{% endif %}

    </ul>

    {% endcomment %}
</div>

